html {
  font-size: 18px;
}

header {
  background-color: black;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;`
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

span {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner {
  height: 400px;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  font-family: Helvetica;
  background-color: black;
  width: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 9rem;
  top: 120px;
  left: 100px;
  border: dotted orangred 1px;
}

  nav {
  background-color: firebrick;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

span {
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}

a {
  color: white;
  text-decoration: none;
}

.image-container {
  display: flex;

}

.images {
border: 4px solid black;
margin-top: 3rem;
}

footer {
  text-align: left;
  background-color: black;
  height: 5rem;
}
